/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of Eric Mayer's CSS reset*/

body {
    /*background-color: #bbb;*/
    background-image: url("wallp-gs.png");
    color: black;
    font-family: sans-serif;

}
h2 {
    padding: 0;
    margin: 0;
}
#content {
    background-color: #eee;
    height: 100%;
    max-width: 1024px;
    min-width: 720px;
    margin: auto;
}

.center {
    width: 20em;
    margin: auto;
    /*background-color: grey;*/
    display: block;
}
#titel {
    text-align: center;
    padding: 0.7em;
    font-size: 1.9em;
    font-weight: normal;
    color: white;
    background-color: #333;

}
#wort {
    display: block;
    /*height: 3em;*/
    width: 16em;
    padding: 0.2em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    text-align: center;
    border-color: red;
    /*background-color: black;*/
    color: black;
    font-weight: bold;
    font-size: 2.9em;
}
#tags {
    display: block;
    /*height: 3em;*/
    width: 16em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    text-align: center;
}
#ergebniscontainer {
    list-style: none;
    font-size: 1.2em;
}
strong {
    font-weight: bolder;
}
#gibs-mir {
    display: block;
    width:6em;
    text-align: center;
    /*height:4em;*/
    background-color: blue;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration:none;
    color: white;
    padding: 0.6em;
    margin: auto;
    border: 1px solid black;
    border-radius: 0.3em;
}

#suchcontainer {
    display: block;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    /*background-color: black;*/
    margin-top: 8em;
}
#form-container-suchseite {
    display: block;
    width: 30em;
    margin-left: 20%;
    margin-right: auto;
    /*background-color: black;*/
    margin-top: 8em;
    margin-bottom: 2em;
}
#searchform {
    display: inline;
    margin: 8em;
    width: 8em;
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 8em;*/
}
.searchbutton {
    background-color: #333;
    color: white;
    padding: 0.5em;
    font-size: 1.0em;
    font-weight: bold;
    border-radius: 0.3em;
    border: 1px solid grey;
}
.searchfield {
    background-color: #333;
    color: white;
    padding: 0.5em;
    font-size: 1.0em;
    border-radius: 0.3em;
    border: 1px solid grey;
}
