{% load static %}
<html>
<head>
    <title>Beschimpfungen</title>
  <!-- <meta http-equiv="refresh" content="1; URL=/weblog"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <!-- <link rel="stylesheet" type="text/css" href="static/style.css" /> -->
</head>
<body>
    <div id="content">
        <!-- <div>Sanity Check erfolgreich!</div> -->
        <!-- <div class="center"> -->
        <a href="/schimpf/admin/">admin</a> |
        <a href="https://bitbucket.org/marneu/schimpf">git repository</a>
        <div id="titel">Marlons Beschimpfungs-Generator (staging)</div>
        <!-- </div> -->


        <div id="wort">{{ word_list.word }}</div>
        <br />
        <div id="tags">tags: {{ word_list.tags}}</div>
        <!-- <div id="gibs-mir"><a href="/schimpf/">Gib's mir!</a></div> -->
        <div class="center">
            <a id="gibs-mir" href="/schimpf/">noch eins!</a>
        </div>

        <div id="suchcontainer">
            <form id="searchform" action="suche" method="get">
               <button class="searchbutton" type="submit" value="search">suchen</button>
               <input class="searchfield" id="searchbox" name="q" type="text" placeholder="tags">
            </form>
        </div>
    </div> <!-- content -->
</body>
</html>
