{% load static %}
<html>
<head>
    <title>Beschimpfungen</title>
  <!-- <meta http-equiv="refresh" content="1; URL=/weblog"> -->
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <!-- <link rel="stylesheet" type="text/css" href="static/style.css" /> -->
</head>
<body>
    <div id="content">
        <!-- <div>Sanity Check erfolgreich!</div> -->
        <a href="/schimpf/">heim</a> |
        <a href="/schimpf/admin/">admin</a> |
        <a href="https://bitbucket.org/marneu/schimpf">git repository</a>
        <div id="titel">Marlons Beschimpfungs-Generator</div>

        <div id="form-container-suchseite">
            <form id="searchform" action="" method="get">
               <button class="searchbutton" type="submit">suchen</button>
               <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Suche">
            </form>
        </div>


        <div class="center" id="ergebniscontainer">
           {% for word in word_list %}
            <li><strong>{{ word.word }}</strong> - tags: {{ word.tags}}</li>
           {% endfor %}
       </div>
   </div>

</body>
